# Server Configuration
PORT=3000

# Security & Authentication
JWT_SECRET=your_super_secret_jwt_key_here

# Databases
MONGO_URI=mongodb://127.0.0.1:27017/encrypt_creds_db
REDIS_URI=redis://127.0.0.1:6379

# Initial Administrator Seed Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123456


# Google Drive API Credentials (Central Backend Storage)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REFRESH_TOKEN=your_google_refresh_token_here
GOOGLE_DRIVE_FOLDER_ID=
